<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-layout">
    <ion-list class="user_list">
      <ion-item button>
        <ion-label>账号与安全</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
      <ion-item button>
        <ion-label>通用设置</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <div class="list-layout">
    <ion-list class="user_list">
      <ion-item button>
        <ion-label>服务协议</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
      <ion-item button>
        <ion-label>隐私政策</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
      <ion-item button>
        <ion-label>检查新版本</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <div class="list-layout">
    <ion-list class="user_list">
      <ion-button color="dark" fill="clear" class="switch">
        切换账号
      </ion-button>
    </ion-list>
  </div>
</ion-content>
