<ion-content [fullscreen]="true" scroll-y="false">
  <div class="user-bar">
    <div class="user_top">
      <div class="user_left">
        <img src="./assets/icon/user.jpg" class="user_style">
      </div>
      <ion-col>
        <ion-row>
          <div class="user-name">
            撒旦发顺丰到付
          </div>
        </ion-row>
        <ion-row>
          <div class="user-number">
            认证手机号: 188****3627
          </div>
        </ion-row>
      </ion-col>
      <div class="authorize-button-layout">
        <ion-col size="1">
          <ion-button icon-end color="medium" fill="clear">
            个人信息
            <ion-icon name="chevron-forward-sharp"></ion-icon>
          </ion-button>
        </ion-col>
      </div>
    </div>
  </div>
  <div class="list-layout">
    <ion-list class="user_list">
      <ion-item button>
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label>支付方式</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <div class="list-layout">
    <ion-list class="user_list">
      <ion-item button>
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label>支付方式</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
      <ion-item button>
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label>支付方式</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <div class="list-layout">
    <ion-list class="user_list">
      <ion-item button>
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label>支付方式</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
      <ion-item button>
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label>支付方式</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
      <ion-item button>
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label>支付方式</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
      <ion-item button>
        <ion-icon name="wallet-outline" slot="start"></ion-icon>
        <ion-label>支付方式</ion-label>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
