<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      智慧地铁
    </ion-title>
  </ion-toolbar>
</ion-header>  -->


<ion-content>
  <ion-item>
    <ion-icon name="notifications-outline"></ion-icon>
    <div class="text-of-name" >
      公告
    </div>
  </ion-item>
  <div class="card-layout">
    <ion-card class="activity-card">
      <p class="broadcast">自2021年9月30日（周四）首班车起至天安门广场活动结束时止，1号线天安门东站、天安门西站，2号线前门站封闭；1号线王府井站西侧出入口封闭。</p>
    </ion-card>
  </div>
  
  
  <ion-item>
    <ion-icon name="rocket-outline"></ion-icon>
    <div class="text-of-name">
      小智推荐
    </div>
  </ion-item>

  <div class="content-st">
    <!-- <ion-scroll class="test-scroll" scrollY="true" scrollX="true"> -->
      <ion-card class="myworks-card-layout"  href="https://www.didiglobal.com/travel-service/bike?ivk_sa=1024320u">
        <img class="img-style" src="./assets/imgs/danche.jpg">
        <ion-card-content>
          <p class="work-title">青桔单车月卡</p>
        </ion-card-content>
      </ion-card>
      <ion-card class="myworks-card-layout" href="http://www.chinalife-p.com.cn/chinalifeproperty/cpgc/qybx/bjphjkb/index.html">
        <img class="img-style" src="./assets/imgs/baoxian.jpg">
        <ion-card-content>
          <p class="work-title">北京普惠健康</p>
        </ion-card-content>
      </ion-card>
      <ion-card class="myworks-card-layout" href="https://item.jd.com/100010793473.html">
        <img class="img-style" src="./assets/imgs/lianxiang.jpg">
        <ion-card-content>
          <p class="work-title">联想笔记本</p>
        </ion-card-content>
      </ion-card>
  </div>

</ion-content>